@import "compass";
@import "compass/css3/transition";

/* -------- Common Color Variables -------- */

$pcolor: #FCFCFC;
$brcolor: #E2E2E2;
$spcolor: transparent;

/* -------- Global -------- */

a {
	color: #FFF;
}

body {
	background: #33383A url(../images/crosslines-pattern.png) repeat 0 0;
	font: 15px "Helvetica Neue", Helvetica, Verdana, sans-serif;
	padding: 1em 5em;
}

body, input, textarea {
	color: #726F6F;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.625;
}

div section {
	background-color: #FFF;
	border: 1px solid $brcolor;
	clear: both;
	display: block;
	float: left;
	font-size: 12px;
	margin-bottom: 2em;
	padding: 1em 1.5em 1.5em;
}

h2 {
	border-bottom: 1px solid #CCC;
	color: #269CCB;
	font: bold 1.1em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	border-width: 0 3px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 auto 2em;
	max-width: 1000px;

	img {
		visibility: visible;
	}
}

/* -------- Heading -------- */

#header {
	background-color: #FFF;
	position: relative;

	#site-logo {
		margin: 0 2%;
		padding: 2em 0;

		img {
			height: auto;
			float: left;
		}
	}
}

.social-profile {
	position: absolute;
	right: 1em;
	top: 2em;

	ul {
		clear: none;
		float: none;
		list-style: none;
		margin: 0;
		padding: 0;

		a {
			display: block;
			height: 40px;
			width: 40px;
		}

		li {
			display: inline-block;
			float: left;

			a:hover {
				background-position: 0 -40px;
			}
		}
	}

	.facebook {
		a {
			background: $spcolor url(../images/social-media-icons/facebook.png) no-repeat 0 0;

			&:hover {
				background-color: #3B5998;
			}
		}
	}

	.twitter {
		a {
			background: $spcolor url(../images/social-media-icons/twitter.png) no-repeat 0 0;


			&:hover {
				background-color: #48C4D2;
				background-position: 0 -40px;
			}
		}
	}

	.google-plus {
		a {
			background: $spcolor url(../images/social-media-icons/google.png) no-repeat 0 0;

			&:hover {
				background-color: #F45750;
			}
		}
	}

	.rss {
		a {
			background: $spcolor url(../images/social-media-icons/rss.png) no-repeat 0 0;

			&:hover {
				background-color: #FE9900;
			}
		}
	}
}

/* -------- Navigation -------- */

#navigation {
	background: $spcolor url(../images/navigation/menu_bg.png) repeat-x 0 0;
	clear: both;
	margin: 0 2px;
	min-height: 2.2em;
	padding: 0 5px;
	position: relative;

	a {
		border-right: 1px solid #006797;
		display: block;
		font-size: 1.1em;
		margin: 0 1px;
		padding: 3px 15px;
		text-decoration: none;
	}

	.child-menu {
		display: none;

		li a {
			background: #F9F9F9;
			border-bottom: 1px dotted #CCC;
			color: #444;
			display: block;
			font-size: 13px;
			line-height: 1em;
			width: 168px;

			&:hover {
				background: #169FE6;
				color: #FFF;
			}
		}
	}

	li {
		position: relative;
		vertical-align: top;
		display: inline-block;

		&:hover .child-menu {
			background: #F9F9F9;
			border: 1px solid #726F6F;
			clear: both;
			display: inline-block;
			position: absolute;
			width: 196px;
		}
	}


	h1 {
		visibility: hidden;
	}

	.selected a {
		background: #169FE6;
		color: #FFF;
		display: block;
		text-decoration: none;
	}

	ul {
		border: 1px solid #726F6F;
		margin: 0;
		padding: 3px;
	}
}

/* -------- Content -------- */

#content {
	background: $pcolor;
	clear: both;
	padding: 1.5em 0 0;
}

/* -------- Footer -------- */

#bottom {
	background: #FFF none repeat 0 0;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	clear: both;

	p {
		font-size: 12px;
		margin-left: 3%;
	}
}

#footer-area {
	background-color: #F7F7F7;
	border-top: 1px solid #DDADAD;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 1em 2%;

	p {
		font: inherit;
		margin-bottom: 1em
	}
}

#footer-block-wrap .footer-block {
	float: left;
	font-size: 12px;
	margin-right: 1em;
	width: 31.3%;

	&:hover {
		background: #E2EEF3;
	}

	#footer-title h2 {
		margin-bottom: 0.5em;
		padding-top: 0.5em;
	}
}

.powered-by {
	color: #555;
	float: right;
	font-size: 12px;
	text-align: right;
	margin-right: 3%;

	a {
		color: #555;
		text-decoration: none;
	}

	p {
		color: #966;
		font-family: inherit;
		font-size: 12px;
		margin-left: 3%;
	}
}

/* -------- Portlet -------- */

.portlet {
	background-color: #FFF;
	border: 1px solid $brcolor;
	margin-bottom: 10px;
	padding: 3px;
	text-align: left;
}

.portlet-column {
	border-width: 0;
	margin: 0;
	outline-width: 0;
	padding: 0;
	vertical-align: baseline;
}

.portlet-content {
	background-color: #FFF;
	border-width: 0;

	.social-profile{
		background-attachment: scroll;
	}
}

#portlet-layout {
	float: left;
	margin-right: 3%;

	.portlet > h1 {
		border-bottom: 1px solid #EEE;
		color: #555;
		font-size: 14px;
		font-weight: bold;
		margin: 0em -0.75em 1em;
		padding: 0 1em 0.5em;
		text-transform: uppercase;
	}
}

.portlet-title {
	border-bottom: 1px solid #EEE;
	color: #555;
	font-size: 14px;
	font-weight: bold;
	padding: 0 1em 0.5em;
	text-transform: uppercase;
}

/* -------- AUI -------- */

.aui-carousel-menu-index {
	visibility: hidden;
}

.aui-carousel menu {
	background: $spcolor;
	bottom: 6px;
	left: 236px;
	list-style: none;
	margin: 0;
	padding: 3px;
	position: absolute;
	right: 0px;
	z-index: 4;

	.aui-carousel-menu-pause {
		visibility: hidden;
	}
}

.aui-carousel-menu-next {
	background-color: #FFF;
	background-image: url(../imgages/aui/next.png);
}

.aui-carousel-menu-prev {
	background-color: #FFF;
	background-image: url(../images/aui/prev.png);
}

/* -------- Web Content -------- */

.yui3-dd-drop a {
	cursor: move;
}

#myCarousel {
	visibility: visible;
}

/* -------- Columns -------- */

#column-1 {
	display: block;
	float: left;
	margin-left: 3%;
	width: 64%;

	.portlet-body .portlet {
		background-color: $pcolor;
		border-width: 0;
	}

	.portlet-content a {
		background-color: $pcolor;
		color: #726F6F;
		max-width: 240em;
		text-decoration: none;
	}

	.portlet-title {
		background: $pcolor url(../images/crosslines-pattern.png);
		width: 240%
	}

	.portlet-topper img {
		visibility: hidden;
	}
}

#column-2 {
	display: block;
	float: right;
	margin-right: 3%;
	width: 27%;

	.portlet {
		background-color: #FFF;
		border: 1px solid $brcolor;
		clear: both;
		font-size: 12px;
		margin-bottom: 2em;
		width: 100%;
	}

	.portlet-content, .portlet-title {
		img {
			visibility: hidden;
		}
	}
}

/* -------- Extras -------- */

#header {
	@include border-top-left-radius(5px);
	@include border-top-right-radius(5px);
}

div section, .aui-carousel-item, #column-2 .portlet, .footer-block, #wrapper {
	@include border-radius(5px);
}

.portlet-content {
	@include box-shadow(none);
}

.social-profile {
	a {
		@include transition-delay(0s);
		@include transition-duration(.2s);
		@include transition-property(all);
		@include transition-timing-function(ease);
	}

	li a:active {
		@include box-shadow(0 0 6px #000 inset);
	}
}

#bottom {
	@include border-bottom-left-radius(5px);
	@include border-bottom-right-radius(5px);
}