#set($activeIndexValue = $activeIndex.Data)
#set($imageHeight = $maxImageHeight.Data)
#set($imageHeightPx = $imageHeight + "px")
#set($imageWidth = $maxImageWidth.Data)
#set($imageWidthPx = $imageWidth + "px")
#set($interval = $timeInterval.Data)
#set($totalCount = 0)

<style type="text/css">
	.aui-carousel {
		-moz-user-select: none;
		margin: 20px 0;
	}

	.aui-carousel-item {
		border-radius: 10px 10px 10px 10px;
		text-indent: -9999em;
	}

	.aui-carousel li {
		margin: 0 !important;
	}
</style>



<div id="carousal">
	#foreach($imageElement in $ImageElementSet.getSiblings())
		#if($imageElement.image.getData() != "")
			#if($imageElement.linkUrl.getData() != "")
				<a href="$imageElement.linkUrl.Data">
			#end
					<img class="aui-carousel-item" height="$imageHeightPx" src="$imageElement.image.Data" width="$imageWidthPx" />

			#if($imageElement.linkUrl.getData() != "")
				</a>
			#end

			#set($totalCount = $totalCount + 1)
		#end
	#end
</div>

#if($totalCount > 0)
	<script>
		AUI().ready(
			'aui-carousel',
			function(A)
			{
				var carousel = new A.Carousel(
					{
						activeIndex: $activeIndexValue,
						contentBox: '#carousal',
						height: $imageHeight,
						intervalTime: $interval,
						width: $imageWidth
					}
				).render();
			}
		);
	</script>
#end